<VirtualHost *:80>
	ServerAdmin webmaster@localhost
	ServerName [~mediaurl~]

	DocumentRoot [~projectdirectory~]media
	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<Directory [~projectdirectory~]media>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

</VirtualHost>
